html {
    height: 100%;

    --bs-primary-alternative: #45A1D5;
}


* {
    font-family: "Inter", sans-serif;
}




/*NAV BAR*/
.navbar{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;

    
}
.nav-link {
    color: black;
}

.navbar-brand img {
    height: 40px; /* Ajuste o tamanho do logo conforme necessário */
}

.container-fluid {
    padding: 0;
}

.atual {
    color: var(--bs-primary-alternative) !important;
}


/*FOOTER*/

footer {

    background-color: #000000;
    color: #CED4DA;
    padding: 20px 0;
}

.footerwhite {
    border-top: 1px #CED4DA solid;
    background-color: #ffffff !important;
    color: #92979d;
}

.btn {
    color: white;
    background-color: #45A1D5;
}

.btn:hover {
    color: var(--bs-primary-alternative);
    background-color: transparent;
    border: 1px var(--bs-primary-alternative) solid;
}