

.row,.col-md-6,.container-fluid {
    margin: 0;
    padding: 0;
}

.background {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.813), rgba(0, 0, 0, 0.721) 100%),
        url('../IMG/login.jpeg');
    background-size:cover;
    background-position: center;
}

.lead1 {
    font-weight: 200;
    font-size: 2em;
}

.base {
    border-top: 1px #CED4DA solid;
}



.login-form {
    background-color: white;
}

.login-form input {
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.clique_aqui {
    color: var(--bs-primary-alternative);
}

.esqueci_senha {
    background-color: white !important;
    border: solid 1px var(--bs-primary-alternative) !important;
    color: var(--bs-primary-alternative);
}